name: EasyDevOps CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore ./frontend/EasyDevOps/EasyDevOps.csproj

      - name: Build (Release)
        run: dotnet build ./frontend/EasyDevOps/EasyDevOps.csproj -c Release --no-restore

      - name: Publish
        run: dotnet publish ./frontend/EasyDevOps/EasyDevOps.csproj -c Release -o out
